pyrogram
tgcrypto
pymongo
dnspython
motor
pbot
requests
aiofiles
asyncio
vanitas
pillow
aiohttp
python-telegram-bot
opencv-python-headless
ffmpeg-python
gTTS
future
googletrans==4.0.0-rc1
psutil
pykeyboard
python-arq
search-engine-parser
speedtest-cli
uvloop
youtube_dl
bs4
python-dotenv
feedparser
pyromod
fuzzysearch
img2pdf
telegraph
pytube
